<div
  id='call-to-action-sticky'
  class='
    uk-width-4-6@l
    uk-width-5-6@m
    uk-width-1-1@s
    uk-margin-top'
>
  <div
    class='
      uk-flex
      uk-flex-center
      uk-flex-column'
    uk-sticky='
      top: #call-to-action-sticky;
      media: 640;
      offset: 80;'>
    <!-- About Widget   -->
      <div
        class='
          uk-card
          uk-background-muted
          uk-width-1-1'
      >
        <div class='uk-card-body uk-padding-small'>
          <div class='uk-flex uk-flex-center' style='height: 150px;'>
            <img
              class='uk-border-circle'
              src='{{site_owner.avatar}}'
              height='150px'
              width='150px'
            />
          </div>

          <p class='uk-text-center'>{{site_owner.name}}</p>
          <p class='uk-text-center'>{{site_owner.description}}</p>
        </div>

        <div class='uk-card-footer uk-padding-small'>
          <div uk-margin class='uk-flex uk-flex-center'>
            <a
              href="https://www.twitter.com/{{site_owner.twitter_handle}}"
              title='{{site_owner.twitter_handle}}'
              class='
                uk-icon-button
                uk-margin-right'
              uk-icon='icon: twitter'>
            </a>
            <a
              href="mailto:{{site_owner.public_email}}"
              class='uk-icon-button'
              uk-icon='icon: mail'>
            </a>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Twitter Feed  -->
<div
  class='
    uk-margin-top
    uk-width-4-6@l
    uk-width-5-6@m
    uk-width-1-1@s'>
      <ul uk-tab uk-switcher>
        <li class='uk-active'>
          <a href='#'>@solidad</a>
        </li>
        <li>
          <a href='#'>@meganelife</a>
        </li>
        <li>
          <a href='#'>Megane FB</a>
        </li>
      </ul>

      <ul class='uk-switcher'>
        <li>
          <div>
            <a class="twitter-timeline" data-lang="en" data-link-color="#E95F28" href="https://twitter.com/Solidad?ref_src=twsrc%5Etfw">Tweets by Solidad</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </li>

        <li>
          <div>
            <a class="twitter-timeline" data-lang="en" data-link-color="#E95F28" href="https://twitter.com/themeganelife?ref_src=twsrc%5Etfw">Tweets by themeganelife</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </li>

        <li>
          <div>
            <div class="fb-page" data-href="https://www.facebook.com/meganelife/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>
          </div>
        </li>
      </ul>
</div>
