<div
  id='call-to-action-sticky'
  class='
    uk-width-4-6@l
    uk-width-5-6@m
    uk-width-1-1@s
    uk-margin-top
    aside-items'
>
  <div
    class='
      uk-flex
      uk-flex-center
      uk-flex-column'>
    <!-- About Widget   -->
      <div
        class='uk-card uk-width-1-1 uk-background-muted uk-margin-bottom'
      >
        <div class='uk-card-body uk-padding-small uk-position-relative'>
          <h2 class='uk-headline'>
            Listen to Megene Podcast
          </h2>
          <iframe
            style="width: 100%;"
            src="https://anchor.fm/megane-podcast/embed"
            frameborder="0"
            scrolling="no"></iframe>
            <div 
              class='uk-text-center uk-width-1-1 uk-text-small'>  
              <a
                href='https://anchor.fm/megane-podcast'
                target="_new">
                Powered by Anchor.fm
              </a>
            </div>
        </div>
      </div>
      <div
        class='
          uk-card
          uk-background-muted
          uk-width-1-1'
      >
        <div class='uk-card-body uk-padding-small'>
          <div class='uk-flex uk-flex-center' style='height: 150px;'>
            <img
              class='uk-border-circle'
              src='{{site_owner.avatar}}'
              height='150px'
              width='150px'
            />
          </div>

          <p class='uk-text-center'>{{site_owner.name}}</p>
          <p class='uk-text-center'>{{site_owner.description}}</p>
        </div>

        <div class='uk-card-footer uk-padding-small'>
          <div uk-margin class='uk-flex uk-flex-center'>
            <a
              href="https://www.twitter.com/{{site_owner.twitter_handle}}"
              title='{{site_owner.twitter_handle}}'
              class='
                uk-icon-button
                uk-margin-right'
              uk-icon='icon: twitter'>
            </a>
            <a
              href="mailto:{{site_owner.public_email}}"
              class='uk-icon-button'
              uk-icon='icon: mail'>
            </a>
          </div>
        </div>
      </div>
    <!-- Facebook Widget  -->
    <div class='uk-flex uk-padding uk-padding-remove-horizontal'>
      <div
        class="fb-page uk-width-1-1"
        data-href="https://www.facebook.com/themeganelife/"
        data-tabs="messages"
        data-small-header="false"
        data-adapt-container-width="true"
        data-hide-cover="false"
        data-show-facepile="true"><blockquote cite="https://www.facebook.com/themeganelife/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/themeganelife/">Megane Life
        </a></blockquote></div>
      </div>
  </div>
</div>
