<ul class='home-headline uk-margin-remove uk-padding-remove'>
  <li 
    class='uk-height-large uk-background-cover uk-position-relative'
    style="background-image: url('{{headline.thumbnail.src('medium')}}')">
    {% if headline.gify_options_gify_url %}
      <div class='headline-video uk-visible@m'>
        <video autoplay muted loop class='uk-visible@m' style='transform: scale({{headline.gify_options_scale}});'>
          <source src="{{headline.gify_options_gify_url}}" tyle='video/mp4'>
        </video>
      </div>
    {% endif  %}
    <a class='
      uk-width-1-1
      uk-height-1-1
      uk-flex
      uk-flex-row
      uk-flex-bottom
      uk-position-relative'
      href="{{headline.link}}">
      <div class='
        category
        uk-position-absolute
        uk-width-1-1
        uk-height-1-1
        uk-flex
        uk-flex-right'>
        <div class='uk-padding-small'>
          <span class='uk-text-uppercase'>
            {{headline.categories[0]}}
          </span>
        </div>
      </div>
      <div class='post-meta uk-padding-small uk-padding-remove-horizontal  uk-flex uk-flex-column'>
        <h1 class='uk-margin-remove'>
          {{headline.title}}
        </h1>
        <p class='uk-margin-remove'>
          {{function('get_the_excerpt', headline.ID)}}
        </p>
      </div>
    </a>
  </li> <!-- Headline 1 -->
  {% if headlines  %}
    {% if headlines[1]  %}
    {% set post = headlines[1]  %}
    <li class='uk-height-large'>
      <a
        href="{{post.link}}"
        class='
          uk-width-1-1
          uk-height-1-1
          uk-position-relative'>
        <div class='
          post-meta
          uk-padding-small
          uk-position-relative'>
          <div class="
            category
            uk-padding-small
            uk-position-absolute
            uk-flex
            uk-flex-bottom
            uk-flex-right
            uk-width-1-1
            uk-height-1-1
            ">
            <div>
              <span class='
                uk-padding-small
                uk-text-uppercase'>
                {{post.categories[0]}}
              </span>
            </div>
          </div>
          <h2 class='uk-margin-remove'>{{post.title}}</h2>
          <p>
            {{
              function('get_the_excerpt', post.ID)
            }}
          </p>
        </div>
        <div class='
          uk-width-1-1
          uk-height-1-1
          uk-background-cover'
          style='background-image: url("{{post.thumbnail.src('medium')}}")'>
        </div>
      </a>
    </li> <!-- Headline 3 -->
    {% endif  %}
    {% if headlines[2]  %}
    {% set post = headlines[2]  %}
    <li class='uk-height-medium uk-background-cover uk-position-relative'
        style='background-image: url("{{post.thumbnail.src('medium')}}")'>
      <a
        class='
          uk-width-1-1
          uk-height-1-1
          uk-flex
          uk-flex-middle
          uk-position-relative
        '
        href="{{post.link}}">
        <div class='
          category
          uk-position-absolute
          uk-padding-small
          uk-height-1-1
          uk-width-1-1'>
          <div>
            <span class='uk-text-uppercase'>
              {{post.categories[0]}}
            </span>
          </div>
        </div>
        <div class='uk-padding-small post-meta'>
          <h2>{{post.title}}</h2>
        </div>
      </a>
    </li> <!-- Headline 4 -->
  {% endif %}
  {% if headlines[0]  %}
    {% set post = headlines[0]  %}
  <li class='uk-height-medium'>
    <a class='uk-width-1-1 uk-height-1-1 uk-flex' href="{{post.link}}">
      <div
        class='
          uk-background-cover
          uk-width-1-1
          uk-position-relative'
        style='background-image: url("{{post.thumbnail.src('medium')}}"); overflow: hidden;'>
        {% if post.gify_options_gify_url  %}
          <video autoplay muted loop class='headline-video uk-visible@m' style='transform: scale({{post.gify_options_scale}});'>
            <source src="{{post.gify_options_gify_url}}" tyle='video/mp4'>
          </video>
        {% endif  %}
        <div class='
          category
          uk-position-absolute
          uk-padding-small
          uk-height-1-1
          uk-width-1-1'>
          <div>
            <span class='uk-text-uppercase'>
              {{post.categories[0]}}
            </span>
          </div>
        </div>
      </div>
      <div class='post-meta uk-flex uk-padding-small'>
        <h2 class='uk-margin-remove'>{{post.title}}</h2>
      </div>
    </a>
  </li> <!-- Headline 2 -->
  {% endif  %}
  {% endif  %}
</ul>
