<ul class='home-headline uk-margin-remove uk-padding-remove'>
  <li class='item-1 item'>
    <a href='{{headline.link}}'>
      <p class='uk-text-uppercase uk-margin-remove-bottom uk-text-bold'>
        {{headline.categories[0]}}
      </p>
      <img src='{{headline.thumbnail.src('thumbnail')}}' class='image' />
      <div class='uk-flex uk-flex-column uk-flex-center uk-padding-small'>
        <div>
          <h2 class='uk-text-uppercase'>
            {{headline.title}}
          </h2>
        </div>
      </div>
    </a>
  </li>
  {% if headlines  %}
  {% set post = headlines[2]  %}
  <li class='item-2 item block'>
    <a href='{{post.link}}'>
      <p class='uk-text-uppercase uk-margin-remove-bottom'>
        {{post.categories[0]}}
      </p>
      <img src='{{post.thumbnail.src('thumbnail')}}' class='image' />
      <div class='uk-padding-small'>
          <h2 class='uk-text-uppercase'>
            {{post.title}}
          </h2>
      </div>
    </a>
  </li>
  <li class='item-3 item block'>
    <a href='{{headline.link}}'>
      <p class='uk-text-uppercase'>aa aaa</p>
      <img src='{{headline.thumbnail.src('medium')}}' class='image' />
      <div class='uk-padding-small'>
        <h2 class='uk-text-uppercase uk-margin-remove'>
          the military is looking at ways to incerept nukes from space
        </h2>
      </div>
    </a>
  </li>
  {% set post = headlines[1]  %}
  <li class='item-4 item'>
    <a href='{{post.link}}'>
      <p class='uk-text-uppercase uk-margin-remove-bottom'>
        {{post.categories[0]}}
      </p>
      <img src='{{post.thumbnail.src('thumbnail')}}' class='image' />
      <div class='uk-flex uk-flex-column uk-flex-center uk-padding-small'>
        <div>
          <h2 class='uk-text-uppercase'>
            {{post.title}}
          </h2>
        </div>
      </div>
    </a>
  </li>
  {% endif  %}
</ul>
