<div class='uk-child-width-1-1 uk-grid-collapse' uk-grid id='main-footer'>

  <div
    id='content'
    class='uk-padding-small uk-padding-remove-horizontal'>
    <div class='uk-container'>
      <div
        class='
          uk-child-width-1-3@m
          uk-child-width-1-1@s
          uk-padding-small'
        uk-grid>

        <div>
          <a href='{{site.url}}'>
            <img src='{{theme.link}}/images/logo-w.svg' width='150px' />
          </a>
          <p>{{site.description}}</p>
          <div>
            <a href='{{options.about_link}}' class='uk-button uk-button-primary'>
              FIND OUT MORE
            </a>
          </div>
        </div>
        <div>
          <h3>Things I'm Interested In</h3>
          {{ function('wp_nav_menu', nav_menu_footer_args) }}
        </div>
        <div>
          <h3>Follow My Site</h3>
          <div uk-margin>
            {% if options.social_links %}
              {% for sn in options.social_links %}
                <a
                  href='{{sn.url}}'
                  class='sn-button'>
                  <span uk-icon='icon: {{sn.icon}}'></span>
                </a>
              {% endfor  %}
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </div>

  <div
    id='closing'
    class='uk-padding-small uk-padding-remove-horizontal'>
    <div class='uk-container'>
      <p class='uk-text-center'>
        {{options.main_footer_text}}
      </p>
    </div>
  </div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=148857082390139";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</div>
