<div class='uk-child-width-1-1' uk-grid id='default-navigation-menu'>

  <div>
      <!-- Logo Area  -->
      <div class='
        uk-height-small
        uk-flex
        uk-flex-middle
        {{options.header_options.background_size}}
        {{options.header_options.background_position}}'
        style="background-color: {{options.header_options.background_color}};
        background-image: url('{{options.header_options.background_image}}');
        background-repeat: {{options.header_options.background_repeat}}">

        <div class='uk-flex uk-flex-center uk-width-1-1'>

          <a href='{{site.url}}' style='display: block; width: 256px;'>
            {% include 'parts/logo.twig' %}
          </a>

        </div>

      </div>

      <!-- Navigation  -->
      <div class='navigation-container uk-visible@m'>
        <div class='uk-container'>
          <div class='uk-flex uk-flex-center'>
            {% include 'parts/navigation.twig' %}
          </div>
        </div>
      </div>
  </div>


</div>
