<div class='uk-child-width-1-1' uk-grid id='default-navigation-menu'>

  <div>
    <div class='uk-container uk-container-large'>
      <!-- Logo Area  -->
      <div class='
        mg-white-background
        uk-height-small
        uk-flex
        uk-flex-middle
        {{options.header_options.background_size}}
        {{options.header_options.background_position}}'
        style="background-color: {{options.header_options.background_color}};
        background-image: url('{{options.header_options.background_image}}');
        background-repeat: {{options.header_options.background_repeat}}">

        <div class='uk-flex uk-flex-center uk-width-1-1'>

          <a href='{{site.url}}' style='display: block; width: 256px;'>
            {% include 'parts/logo.twig' %}
          </a>

        </div>

      </div>

        <!-- Navigation  -->
      {% include 'parts/navigation.twig' %}

    </div>
  </div>


</div>
