{% extends 'base.twig' %}

{% block content %}
  {% include 'parts/navigation-simple.twig' %}
  <div class='uk-container uk-container-large' id='home-page'>
    <div class='container'>

      <div class='uk-grid'>

        <!-- Headline Banner -->
        {% if not options.category_bar.enable %}
        <div class='uk-width-1-1'>

          <a class='uk-display-block uk-height-large' href='{{headline.link}}'>
            <div class='
              headline
              uk-background-cover
              uk-flex
              uk-flex-wrap
              uk-height-1-1
            '
            style='background-image:url("{{headline.thumbnail.src('medium')}}")'>
              <div class='
                uk-width-1-2
                uk-visible@l
                headline__space
                headline__space--empty'></div>
              <div class='
                uk-width-1-2
                uk-visible@l
                headline__space
                headline__space--title'>
                <div class='
                  uk-padding-small
                  uk-text-uppercase
                  headline__container--desktop'>
                  <div class='
                    uk-overlay
                    uk-overlay-primary
                    headline__container__container'>
                    <h2 class='
                      uk-text-uppercase
                      headline_title'>
                      {{headline.title}}
                    </h2>
                  </div>
                </div>
              </div>
              <div class='
                uk-flex
                uk-flex-bottom
                uk-width-1-1
                headline__space
              '>
                <div class='
                  uk-padding-small
                  uk-width-1-1
                  headline__container
                '>
                  <div class='
                    uk-overlay
                    uk-overlay-primary
                    headline__container__container'>
                    <h2 class='
                      uk-text-uppercase
                      headline__title'>
                      {{headline.title}}
                    </h2>
                    <p class='headline__excerpt'>
                      {{function('get_the_excerpt', headline.ID)}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% endif %}

        <!-- Category Roll  -->
        {% if options.category_bar.enable %}
          <div class='uk-width-1-1'>

            <div class='uk-cover-container uk-height-large'>
              <img src='http://loremflickr.com/1280/720' />
              <div class='
                uk-overlay
                uk-overlay-primary
                uk-position-right
                uk-overlay-primary
                uk-width-1-3@m
                uk-width-1-1@s
                '>

                <h2>Category Name</h2>

                <ul class='uk-list'>
                  {% for i in 1..6 %}
                    <li><a href='#{{i}}'>Cateogry {{i}}</a></li>
                  {% endfor %}
                </ul>

                <button class='uk-button uk-button-default uk-margin-top'>
                  CHECK FOR MORE
                  <span uk-icon='icon: arrow-right'></span>
                </button>

              </div>
            </div>

          </div>
        {% endif %}

        <!-- Category Roll CTA  -->
        {% if options.call_to_action_text.enable %}
          <div class='uk-width-1-1'>
            <div class='uk-background-primary uk-padding'>
              <h2 class='uk-text-center uk-text-bold uk-text-uppercase uk-margin-remove'>
                This is some cta action or image
              </h2>
            </div>
          </div>
        {% endif %}


        <div class='uk-width-1-1'>

          <div class="uk-grid-collapse" id='header-blog' uk-grid>

            {% if headlines %}
              {% for post in headlines %}
                <div class='uk-width-1-3@m uk-width-1-1@s'>
                  <a href='{{post.link}}'>
                    <div class='uk-inline uk-width-1-1'>
                      <img src='{{post.thumbnail.src('thumbnail')}}' class='uk-width-1-1'  />
                      <div class='uk-overlay uk-overlay-primary uk-position-bottom uk-flex uk-flex-between uk-flex-column' style='min-height: 6em;'>
                        <div><p>{{post.title | truncate(10)}}</p></div>
                        <div>
                          <span class='uk-label'>
                            {{post.categories[0]}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              {% endfor %}
            {% endif %}

          </div>

        </div>

        <!-- Headline Loop  -->
        {% if category_headline %}
          <div class='uk-width-1-1 uk-margin-top'>

            <div class='uk-margin-left uk-margin-right'>
              <div
                class='
                  uk-child-width-1-3@l
                  uk-child-width-1-1@m
                  uk-grid-match'
                uk-grid
              >

                {% for category in category_headline %}
                  {% if category.post %}
                    <div>
                      <div class='uk-card uk-card-small uk-card-default'>
                        <div class="uk-card-badge uk-label">
                          {{ category.post.categories[0]  }}
                        </div>
                        <div class='uk-media-top uk-width-1-1'>
                          <img src='{{category.post.thumbnail.src('thumbnail')}}' class='uk-width-1-1' />
                        </div>
                        <div class='uk-card-body' style='min-height: 10em;'>
                          <h3 class='uk-card-title uk-margin-remove' style='min-height: 3em;' title='{{category.post.title}}'>{{category.post.title | truncate(10) }}</h3>
                          <p>
                            {{
                              function('get_the_excerpt', category.post.ID) | truncate(15)
                            }}
                          </p>
                        </div>
                        <div class='uk-card-footer'>
                          <a
                            href='{{category.post.link}}'
                            class='uk-button uk-button-text'
                            title='{{category.post.title}}'>READ MORE</a>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}

              </div>
            </div>

          </div>

        {% endif %}

        <div class='uk-width-1-1 uk-margin-top uk-margin-bottom'>

          <div class='uk-margin-left uk-margin-right'>
            <div class='uk-grid'>
              <div class='uk-width-3-5@m uk-width-1-1@s'>
                <h2 class='uk-heading-line'><span>Latest Posts</span></h2>

                {% if posts %}
                  {% for post in posts %}
                    <div class='
                      post-loop
                      uk-card
                      uk-card-default
                      uk-grid-collapse
                      uk-child-width-1-2@s
                      uk-margin'
                      uk-grid>
                      <div class='uk-card-media-left uk-cover-container cover-container'>
                        <div class='uk-inline uk-width-1-1'>
                          <img src='{{post.thumbnail.src('thumbnail')}}' class='uk-width-1-1'/>
                        </div>
                      </div>
                      <div class='uk-flex uk-flex-column'>
                        <div class='uk-flex uk-flex-right uk-padding-small'>
                          <div
                            class="uk-label">
                            {{post.categories[0]}}
                          </div>
                        </div>
                        <div class='uk-card-body uk-padding-small uk-flex-1'>
                          <h3 class='uk-card-title'>{{post.title}}</h3>
                          <p>{{ function('get_the_excerpt', post.ID) | truncate(15) }}</p>
                        </div>
                        <div class='uk-card-footer uk-padding-small'>
                          <a href='{{post.link}}' class='uk-button uk-button-text'>READ MORE</a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}

              </div>

              <div class='uk-width-2-5@m uk-width-1-1@s'>
                {% include 'parts/aside.twig' %}
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
{% endblock content %}
