{% extends 'base.twig' %}

{% block content %}
  {% include 'parts/navigation-simple.twig' %}
  <div class='uk-container uk-container-large' id='home-page'>
    <div class='container'>

      <div class='uk-grid'>

        <!-- Headline Banner -->
        {% if not options.stories_header.enable %}
        <div class='uk-width-1-1'>
          {% include 'parts/home.headline.twig'  %}
        </div>
        {% else %}
        <div class='uk-width-1-1'>
          {% include 'parts/headline.stories.twig' %}
        </div>
        {% endif %}

        <!-- Category Roll  -->
        {% if options.category_bar.enable %}
          <div class='uk-width-1-1'>

            <div class='uk-cover-container uk-height-large'>
              <img src='http://loremflickr.com/1280/720' />
              <div class='
                uk-overlay
                uk-overlay-primary
                uk-position-right
                uk-overlay-primary
                uk-width-1-3@m
                uk-width-1-1@s
                '>

                <h2>Category Name</h2>

                <ul class='uk-list'>
                  {% for i in 1..6 %}
                    <li><a href='#{{i}}'>Cateogry {{i}}</a></li>
                  {% endfor %}
                </ul>

                <button class='uk-button uk-button-default uk-margin-top'>
                  CHECK FOR MORE
                  <span uk-icon='icon: arrow-right'></span>
                </button>

              </div>
            </div>

          </div>
        {% endif %}

        <!-- Category Roll CTA  -->
        {% if options.call_to_action_text.enable %}
          {% set cta = options.call_to_action_text.post %}
          <div class='uk-width-1-1'>
            <div class='uk-padding uk-padding-remove-horizontal category-cta-text'>
              <div class='uk-flex'>
                <div class='uk-text-right uk-padding-small'>
                  <a class='f-large f-bold uk-margin-remove' href="{{cta.permalink}}">
                    {% if options.call_to_action_text.override_excerpt %}
                      {{options.call_to_action_text.excerpt}}
                    {% else %}
                      {{cta.post_excerpt}}
                    {% endif %}
                  </a>
                  <p class='uk-margin-small'>Filed on <a href="{{cta.categories[0].permalink}}" class='f-bold'>{{cta.categories[0].name}}</a></p>
                </div>
                <div class='uk-padding-small uk-flex uk-flex-middle'>
                  <a href="{{cta.permalink}}">
                    <h3 class='
                      f-xlarge
                      uk-margin-remove
                      uk-text-uppercase
                      f-italic'>
                      {{cta.post_title}}
                    </h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        <!-- Headline Loop  -->
        {% if category_headline %}
          <div class='uk-width-1-1 uk-margin-top'>
            <ul class='
              header-loop
              uk-margin-remove
              uk-padding-remove'>
              {% include 'parts/home.category.headline.twig' %}
            </ul>
          </div>
        {% endif %}

        <div class='uk-width-1-1 uk-margin-top'>

          <div class='uk-margin-left uk-margin-right'>
            <div class='uk-grid uk-grid-collapse'>
              <div class='uk-width-3-5@m uk-width-1-1@s'>
                <h2 class='uk-heading-line'><span>Latest Posts</span></h2>
                {% if options.post_loop_header.enable  %}
                {% set plh = options.post_loop_header.post %}
                <a class='
                  post-loop-headline
                  uk-height-large
                  uk-width-1-1
                  uk-margin-bottom
                  uk-flex
                  uk-flex-column
                  '
                >
                  <div class='
                    header 
                    uk-display-block 
                    uk-padding-small'>
                    <h2 class='uk-margin-remove'>{{plh.post_title}}</h2>
                    <p class='uk-margin-remove f-small'>{{plh.post_excerpt}}</p>
                  </div>
                  <div class='
                    content 
                    uk-display-block 
                    uk-background-cover'
                    style='background-image: url("{{plh.thumbnail}}")'
                  >
                  </div>
                </a>
                {% endif %}

                {% if posts %}
                <ul class='uk-margin-remove uk-padding-remove'>
                  {% for post in posts %}
                    {% if loop.index == 5 and options.stories_loop.enable %}
                      {% include 'parts/home.loop.stories.twig' %}
                    {% endif %}
                    <li class='
                      post-loop
                      uk-box-shadow-small
                      uk-display-block
                      uk-margin-bottom
                    '>
                      <a href="{{post.link}}">
                        <div class='feature-image uk-position-relative'>
                          {% if post.is_video %}
                          <div class='
                            play-button
                            uk-position-absolute
                            uk-flex
                            uk-flex-middle
                            uk-flex-center
                            uk-height-1-1
                            uk-width-1-1
                          '>
                            <div>
                              <span uk-icon='icon: play-circle; ratio: 5'></span>
                            </div>
                          </div>
                          {% endif %}
                          <img
                            src='{{post.thumbnail.src('thumbnail')}}'
                            class='uk-width-1-1'/>
                          {% if post.gify_options_gify_url  %}
                          <div 
                            class='
                              post-loop-video 
                              uk-flex 
                              uk-flex-middle 
                              uk-width-1-1 
                              uk-visible@m'>
                            <video
                              autoplay 
                              muted 
                              loop
                              style='transform: scale({{post.gify_options_scale}});'>
                              <source
                                src="{{post.gify_options_gify_url}}" tyle='video/mp4'>
                            </video>
                          </div>
                          {% endif %}
                        </div>
                        <div class='content uk-padding-small'>
                          <h3>{{post.title}}</h3>
                          <p>
                            {{
                              function('get_the_excerpt', post.ID)
                            }}
                          </p>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>

              <div class='uk-width-2-5@m uk-width-1-1@s uk-flex uk-flex-center'>
                {% include 'parts/aside.twig' %}
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
{% endblock content %}
