{% extends 'base.twig' %}

{% block content %}
  {% include 'parts/navigation-simple.twig' %}
  <div class='uk-container uk-container-large' id='home-page'>
    <div class='container'>

      <div class='uk-grid'>

        <!-- Headline Banner -->
        {% if not options.category_bar.enable %}
        <div class='uk-width-1-1'>

          <a class='uk-display-block' href='{{headline.link}}'>
            {% include 'parts/headline.ratio.twig' %}
            {% include 'parts/headline.mobile.twig' %}
          </a>
        {% endif %}

        <!-- Category Roll  -->
        {% if options.category_bar.enable %}
          <div class='uk-width-1-1'>

            <div class='uk-cover-container uk-height-large'>
              <img src='http://loremflickr.com/1280/720' />
              <div class='
                uk-overlay
                uk-overlay-primary
                uk-position-right
                uk-overlay-primary
                uk-width-1-3@m
                uk-width-1-1@s
                '>

                <h2>Category Name</h2>

                <ul class='uk-list'>
                  {% for i in 1..6 %}
                    <li><a href='#{{i}}'>Cateogry {{i}}</a></li>
                  {% endfor %}
                </ul>

                <button class='uk-button uk-button-default uk-margin-top'>
                  CHECK FOR MORE
                  <span uk-icon='icon: arrow-right'></span>
                </button>

              </div>
            </div>

          </div>
        {% endif %}

        <!-- Category Roll CTA  -->
        {% if options.call_to_action_text.enable %}
          <div class='uk-width-1-1'>
            <div class='uk-background-primary uk-padding'>
              <h2 class='uk-text-center uk-text-bold uk-text-uppercase uk-margin-remove'>
                This is some cta action or image
              </h2>
            </div>
          </div>
        {% endif %}


        <div class='uk-width-1-1'>

          <ul class="
            header-blog
            uk-list
            uk-margin-remove
            uk-width-1-1
          ">

            {% if headlines %}
              {% for post in headlines %}
              <li class='
                uk-display-inline-block
                uk-margin-remove-adjacent'>
                <a href='{{post.link}}'>
                  <div
                    class='
                      header-blog__item
                      uk-background-cover
                      uk-height-medium
                      uk-flex
                      uk-flex-bottom'
                    style='background-image:url("{{post.thumbnail.src('thumbnail')}}")'>
                    <div
                      class='
                        body
                        uk-flex
                        uk-flex-column
                        uk-background-default
                        uk-width-1-1
                        uk-padding-small
                        uk-padding-remove-vertical'>
                      <div class='category'>
                        <p
                          class='
                            uk-margin-remove
                            uk-text-uppercase
                            uk-text-bold'>
                            {% if post.is_video %}
                              <span uk-icon='icon: youtube; ratio: 2'></span>
                            {% endif %}
                            {{post.categories[0]}}
                        </p>
                      </div>
                      <div class='header'>
                        <h3 class='uk-margin-small-bottom'>{{post.title}}</h3>
                      </div>
                      <div class='content uk-text-small'>
                        <div class='uk-margin-small-bottom'>
                          {{
                            function('get_the_excerpt', category.post.ID)
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              {% endfor %}
            {% endif %}

          </div>

        </div>

        <!-- Headline Loop  -->
        {% if category_headline %}
          <div class='uk-width-1-1 uk-margin-top'>
            <ul class='
              header-loop
              uk-margin-left
              uk-margin-right
              uk-padding-remove'>
              {% for category in category_headline %}
                {% if category.post %}
                <li class='
                  uk-display-inline-block
                  uk-margin-remove-adjacent'>
                  <a 
                    href='{{category.post.link}}'
                    class='uk-display-flex uk-link-muted uk-height-1-1'>
                    <div class='
                      uk-padding-small
                      uk-padding-remove-vertical
                      header-loop__container
                      uk-height-1-1'>
                      <div class='
                        header-loop__item
                        uk-height-1-1
                        uk-flex
                        uk-flex-column
                        uk-box-shadow-medium'>
                        <div
                          class='
                            feature-image
                            uk-width-1-1
                            uk-height-medium
                            uk-background-cover
                            uk-flex
                            uk-flex-bottom
                            uk-flex-right'
                            style="background-image:url('{{category.post.thumbnail.src('thumbnail')}}')">
                          <div class='category'>
                            {{ category.post.categories[0]  }}
                          </div>
                        </div>
                        <div class='body uk-padding-small'>
                          <div class='uk-flex uk-flex-middle'>
                            {% if category.is_video %}
                              <div class='uk-margin-small-right'>
                                <span uk-icon='icon: youtube; ratio: 2'></span>
                              </div>
                            {% endif %}
                            <h3 
                              class='uk-card-title uk-margin-remove'
                              title='{{category.post.title}}'>
                              {{category.post.title}}
                            </h3>
                          </div>
                            <p class='uk-flex-1'>
                              {{
                                function('get_the_excerpt', category.post.ID)
                              }}
                            </p>
                        </div>
                        <div class='
                          footer
                          uk-padding-small
                          uk-width-1-1
                          uk-text-uppercase'>
                          read more
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>

        {% endif %}

        <div class='uk-width-1-1 uk-margin-top uk-margin-bottom'>

          <div class='uk-margin-left uk-margin-right'>
            <div class='uk-grid'>
              <div class='uk-width-3-5@m uk-width-1-1@s'>
                <h2 class='uk-heading-line'><span>Latest Posts</span></h2>

                {% if posts %}
                  {% for post in posts %}
                    <div class='
                      post-loop
                      uk-card
                      uk-card-default
                      uk-grid-collapse
                      uk-child-width-1-2@s
                      uk-margin'
                      uk-grid>
                      <div
                        class='
                          uk-card-media-left
                          uk-cover-container
                          cover-container'>
                        <div class='uk-inline uk-width-1-1'>
                          <img src='{{post.thumbnail.src('thumbnail')}}' class='uk-width-1-1'/>
                        </div>
                      </div>
                      <div class='uk-flex uk-flex-column'>
                        <div class='uk-flex uk-flex-right uk-padding-small'>
                          <a href='{{post.categories[0].link}}'>
                            <div
                              class="uk-label">
                              {{post.categories[0]}}
                            </div>
                          </a>
                        </div>
                        <div class='uk-card-body uk-padding-small uk-flex-1'>
                          <h3 class='uk-card-title'>
                            {% if post.is_video  %}
                              <span uk-icon='icon: youtube; ratio: 2'></span>
                            {% endif %}
                            {{post.title}}
                          </h3>
                          <p>
                            {{ 
                              function('get_the_excerpt', post.ID) | truncate(15)
                            }}
                          </p>
                        </div>
                        <div class='uk-card-footer uk-padding-small'>
                          <a href='{{post.link}}' class='uk-button uk-button-text'>READ MORE</a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}

              </div>

              <div class='uk-width-2-5@m uk-width-1-1@s'>
                {% include 'parts/aside.twig' %}
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
{% endblock content %}
