{% extends 'base.twig' %}

{% block mainHeader %}
  {% include 'parts/navigation-simple.twig'  %}
{% endblock mainHeader %}

{% block content %}
  <div class='uk-child-width-1-1' uk-grid>
    <div>
      <div class='uk-container'>
        <div class='uk-background-default'>

          <div class='uk-grid'>
            <div class='uk-width-1-1'>
              <div class='uk-cover-container uk-height-large'>

                {% if post.cover_position == 'top' %}
                  {% set style = 'top: 75%' %}
                {% elseif post.cover_position == 'bottom' %}
                  {% set style = 'top: 25%' %}
                {% else %}
                  {% set style = ''  %}
                {% endif %}

                <img src='{{ post.thumbnail.src('full')  }}' style='{{style}}'  uk-cover />
              </div>
            </div>
            <div class='uk-width-1-1 uk-margin-medium-left uk-margin-medium-right uk-margin'>

              <!-- Content -->
              <article
                class='
                uk-child-width-1-1
                uk-grid-collapse
                uk-article'
                uk-grid
                id='single-medium-post'>
                <header>
                  <h1 class='uk-article-title post-content uk-text-bold'>
                    <a class='uk-link-reset'>{{post.title}}</a>
                  </h1>
                </header>
                <!-- Meta  -->
                <section class='uk-margin-top'>
                  {% include 'parts/post-meta.twig'  %}
                </section>
                <!-- lead (excerpt) -->
                <section class='uk-margin-small-top'>
                  <p class='uk-text-lead'>{{excerpt}}<p>
                </section>
                <!-- paragraph  -->
                <section class='post-content'>
                  {{post.content}}
                </section>
              </article>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}
