{% extends 'base.twig' %}

{% block mainHeader %}
  {% set sticky = 'uk-sticky' %}
  {% include 'parts/navigation-simple.twig'  %}
{% endblock mainHeader %}

{% block content %}
  <div class='uk-child-width-1-1' uk-grid id='singles-medium'>
    <div>
      <div class='uk-container'>
        <div class='uk-background-default'>

          <div class='uk-grid'>
            <div class='uk-width-1-1'>
              {% if post.cover_position == 'top' %}
                {% set style = 'uk-background-top-center' %}
              {% elseif post.cover_position == 'bottom' %}
                {% set style = 'uk-background-bottom-center' %}
              {% else %}
                {% set style = 'uk-background-center-center'  %}
              {% endif %}
                <div class='
                  {{style}}
                  uk-background-cover
                  uk-height-large'
                  style="background-image: url('{{post.thumbnail.src('full')}}');">
                  <div class='
                    mobile-title
                    uk-flex
                    uk-width-1-1
                    uk-height-1-1
                    uk-flex-middle
                    uk-flex-center
                    uk-hidden@m'>
                    <div>
                      <h1 class='
                        uk-text-center
                        uk-margin-remove'>{{post.title}}</h1>
                    </div>
                  </div>
                </div>
            </div>
            <div class='uk-width-1-1 uk-margin-medium-left uk-margin-medium-right uk-margin'>

              <!-- Content -->
              <article
                class='
                uk-child-width-1-1
                uk-grid-collapse
                uk-article'
                uk-grid
                id='single-medium-post'>
                <header class='uk-visible@m'>
                  <h1 class='uk-article-title post-content uk-text-bold uk-text-uppercase'>
                    {{post.title}}
                  </h1>
                </header>
                <!-- Meta  -->
                <section class='uk-margin-top'>
                  {% include 'parts/post-meta.twig'  %}
                </section>
                <!-- lead (excerpt) -->
                <section class='uk-margin-small-top'>
                  <p class='uk-text-lead'>{{excerpt}}<p>
                </section>
                <!-- paragraph  -->
                <section class='post-content' id='post-content'>
                  {{post.content}}
                </section>
                <!-- Divider -->
                <section class='meta'>
                  <hr class='uk-divider-icon'>
                  <ul>
                    <li class='title'>Tagged for:</li>
                    {% for tag in post.tags %}
                      <li>
                        <a href='{{tag.link}}' target='_new'>
                          {{tag.name}}
                        </a>
                      </li>
                    {% endfor  %}
                  </ul>
                  <hr class='uk-divider-icon'>
                </section>

                {% include 'parts/facebook-comments.twig' %}
              </article>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}
