{% extends 'base.twig' %}

{% block mainHeader %}
  {% set sticky = 'uk-sticky' %}
  {% include 'parts/navigation-simple.twig' %}
{% endblock mainHeader %}

{% block content %}
  <div class='uk-child-width-1-1' uk-grid id='singles-standard'>
    <div>
      <div class='uk-container uk-container-large'>
        <div class='mg-white-background '>

          <article class='uk-grid-collapse uk-padding-small' uk-grid>
            <header class='uk-width-1-1'>
              <h4 class='uk-margin-remove'>
                {% for category in categories %}
                  <a href='{{category.link}}' class='uk-link-muted uk-text-uppercase'>
                    {{category.name}}
                  </a>
                {% endfor  %}
              </h4>
              <h1 class='uk-primary-header uk-text-bold uk-margin-remove uk-text-uppercase'>
              {{post.title}}
              </h1>
              <p class='uk-margin-remove uk-text-lead'>{{excerpt}}</p>
              {% include 'parts/post-meta.twig' %}
            </header>

            <section class='uk-width-2-3@m uk-width-1-1@s uk-margin-top'>

              <div class='uk-child-width-1-1' uk-grid>

                <!-- thumbnail  -->
                <div>
                  {% if post.thumbnail %}
                    <img src='{{ post.thumbnail.src('full') }}' class='uk-width-1-1' />
                  {% else  %}
                    <img src='http://via.placeholder.com/800x400' class='uk-width-1-1' />
                  {% endif %}

                  <p class='uk-text-meta' style='display: none;'>Small thumbnail description below</p>
                  <hr class="uk-divider-icon">
                </div>

                <!-- content  -->
                <div class='post-content'>
                  {{post.content}}
                </div>
              </div>

              <div class='meta'>
                <hr class='uk-divider-icon'>
                  <ul>
                    <li class='title'>Tagged for:</li>
                    {% for tag in post.tags %}
                      <li>
                        <a href='{{tag.link}}' target='_new'>
                          {{tag.name}}
                        </a>
                      </li>
                    {% endfor  %}
                  </ul>
                  <hr class='uk-divider-icon'>
              </div>

              <div class='uk-margin'>
                {% if post.comments %}
                <h3>Comments</h3>
                {% endif  %}
                <ul class='uk-comment-list'>
                  {% for cmt in post.comments %}
                    <li>{% include 'comments.twig' with {comment:cmt} %}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class='comment-form'>
                {% include 'comment-form.twig'  %}
              </div>


            </section>

            <aside class='uk-width-1-3@m uk-width-1-1@s uk-margin-top uk-padding-small uk-padding-remove-vertical'>

              <div class='
                uk-grid-collapse
                uk-child-width-1-1'
                uk-sticky='media: 640;'
                uk-grid
                id='post-list'>
                <div>
                  <div class='uk-padding-small title'>
                    <p class='uk-text-bold uk-text-uppercase uk-margin-remove'>
                      you might be interested in this
                    </p>
                  </div>
                <div>
                <div>
                  <div class='uk-background-muted uk-padding-small content'>
                    {% if other_posts %}
                      <ul class='uk-list uk-list-divider'>
                        {% for post in other_posts %}
                        <li>
                          <a
                            href='{{post.link}}'
                            title='{{post.title}}'
                            class='uk-link uk-link-muted'>
                            {{post.title | truncate(8)}}
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                </div>
              </div>

            </aside>
          </article>

        </div>
      </div>
    </div>
  </div>
{% endblock content  %}
